@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&amp;subset=cyrillic");
@import "minireset.min";
@import "base/config";

html {
  display: flex;
  flex-direction: row;
  font-family: 'Fira Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  line-height: 1.42857143;
}

body {
  color: #d0d0d0;
  background: #323232;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

a {
  color: $maincolor;
  text-decoration: none;
  &:hover {
    color: #ffffff;
  }
}

.btn {
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 10px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: color .3s, border-color .3s, background .3s;
  display: inline-block;
  &.-unsubscribe, &.-up {
    color: $delete;
    border: 1px $delete solid;
    &:hover {
      color: #ffffff;
      background-color: $delete;
    }
  }
  &.-subscribe, &.-in {
    color: $add;
    border: 1px $add solid;
    &:hover {
      color: #ffffff;
      background-color: $add;
    }
  }
  &.-question {
    color: $question;
    border: 1px $question solid;
    &:hover {
      color: #ffffff;
      background-color: $question;
    }
  }
  &.-mark {
    color: $question;
    border: 1px $question solid;
    &:hover {
      color: #ffffff;
      background-color: $question;
    }
  }
}

h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
}

h2 {
  color: white;
  font-size: 2.3rem;
}

h3 {
  color: white;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

@import "components/main-wrapper";
@import "components/section-menu";
@import "components/section-content";
@import "components/main-content";
@import "components/main-header";
@import "components/game-list";
@import "components/game-card";
@import "components/list-head";
@import "components/channels-list";
@import "components/channel-card";
@import "components/wrapped-list";
@import "components/featured-list";
@import "components/featured-card";
@import "components/video-list";
@import "components/video-card";
@import "components/next-page";
