.channel-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;
  background: $dimgrey;
  > .ava {
    background-color: #1e5e5e;
    border-radius: 50%;
    width: 80%;
    > .image {
      background: $aquamarine;
      padding-bottom: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  > .name {
    text-align: center;
    padding: 16px 0;
  }
  > .video {
    width: 100%;
    padding: 16px 0 8px 0;
    .preview {
      background-color: #1e5e5e;
    padding-bottom: 56.25%;
    }
  }
}