.games-list {
  display: flex;
  flex-direction: column;
  >.list {
    padding-top: 16px;
    .more {
      border-bottom: 1px solid #222222;
      padding: 16px 0;
      text-align: center;
    }
  }
}