.main-header {
  display: flex;
  flex-direction: column;
  height: 350px;
  background: url("../../images/sky.jpg") center no-repeat;
  padding: 0 32px;
  justify-content: center;

  > .head {
    text-align: center;
    > .sign {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 24px;
    }
  }
  > .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}

.main-header.-video {
  background: none;
  height: auto;
  flex-direction: row;
  padding: 0;
  > .game, .channel {
    padding: 16px 32px;
    width: 50%;
    text-align: center;
    background: url("../../images/sky.jpg") center no-repeat;
  }

}