.main-header {
  display: flex;
  flex-direction: column;
  height: 350px;
  background: url("../../images/sky.jpg") center no-repeat;
  padding: 0 32px;
  justify-content: center;


  > .head {
    text-align: center;
    > .sign {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 24px;
    }
  }
  > .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}