$sideWidth: 310px;

.section-content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: scroll;
  > .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .main-header {
      flex-shrink: 0;
    }
    > .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 16px 32px;

      > .head {
        align-items: center;
        display: flex;
        flex-direction: row;
        > .main {
          flex-grow: 1;
          margin-right: 32px;
        }
        > .side {
          flex-shrink: 0;
          text-align: center;
          width: $sideWidth;
        }

      }

      > .body {
        display: flex;
        flex-direction: row;
        padding-top: 18px;
        padding-bottom: 18px;
        > .main {
          flex-grow: 1;
          margin-right: 32px;
        }
        > .side {
          flex-shrink: 0;
          width: $sideWidth;
          > .widget-panel {
            margin: 32px 0;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}