$sideWidth: 310px;

.section-content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: scroll;
  > .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .main-header {
      flex-shrink: 0;
    }
    > .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 16px 32px;
    }
  }
}